<div class="col-lg-8 col-md-10 col-xs-10 p30 ml-auto">

  <form action="" method="get">
    <div class="modal-body">
      <h3>Personal Info</h3>
      <div class="title">Log In. Not a member yet? Create a free profile by taking </div>
      <label >E-mail address</label>
      <div class="input-wrapper with-icon">
        <span class="fal fa-envelope"></span>
        <input placeholder="your@email.com" type="email" autofocus="autofocus" autocomplete="email">
      </div>

      <label >Password</label>
      <div class="input-wrapper with-icon">
        <span class="fal fa-lock"></span>
        <input placeholder="********" type="password">
        <div class="note">
          Your initial password is in the e-mail with your test results.
        </div>
      </div>

      <label >First name</label>
      <div class="input-wrapper">
        <input placeholder="firstname" type="text">
      </div>

      <label >Last name</label>
      <div class="input-wrapper">
        <input placeholder="lastname" type="text">
      </div>
    </div>

    <div class="modal-actions">
      <button class="btn btn-action width" style="width: 100%; padding-top: 0px; font-weight: bold;">Log In</button>
    </div>
  </form>

</div>