<header id="page-header" class="page-header header-11  nav-links-hover-style-01 header-light  header-sticky-dark-logo">
      <div class="page-header-place-holder"></div>
      <div id="page-header-inner" class="page-header-inner" data-sticky="1">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="header-wrap">
                <div class="branding">
                  <div class="branding__logo">
                    <a href="/" rel="home">
                      <img src="/assets/light-logo.png" alt="Billey" class="light-logo">
                      <img src="/assets/dark-logo.png" alt="Billey" class="dark-logo">
                    </a>
                  </div>
                </div>

                <div class="header-right">

                  <div id="page-navigation" class="navigation page-navigation">
                    <nav id="menu" class="menu menu--primary">
                      <ul id="menu-landing" class="menu__container sm sm-simple"><li id="menu-item-4127" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4127 level-1"><a href="#section-hero"><div class="menu-item-wrap"><span class="menu-item-title">Intro</span></div></a></li>
                        <li id="menu-item-3876" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3876 level-1"><a href="#section-home-showcase"><div class="menu-item-wrap"><span class="menu-item-title">Demos</span></div></a></li>
                        <li id="menu-item-3879" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3879 level-1"><a href="#section-portfolio-showcase"><div class="menu-item-wrap"><span class="menu-item-title">Portfolio</span></div></a></li>
                        <li id="menu-item-3880" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3880 level-1"><a href="#section-shop-showcase"><div class="menu-item-wrap"><span class="menu-item-title">Shop</span></div></a></li>
                        <li id="menu-item-3878" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3878 level-1"><a href="#section-blog-showcase"><div class="menu-item-wrap"><span class="menu-item-title">Blog</span></div></a></li>
                      </ul>
                    </nav>
                  </div>

                  <div id="page-open-mobile-menu" class="header-icon page-open-mobile-menu">
                    <div class="burger-icon">
                      <span class="burger-icon-top"></span>
                      <span class="burger-icon-bottom"></span>
                    </div>
                  </div>

                  <div id="page-open-components" class="header-icon page-open-components">
                    <div class="inner">
                      <div class="circle circle-one"></div>
                      <div class="circle circle-two"></div>
                      <div class="circle circle-three"></div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </header>