<section class="elementor-element elementor-element-7a9936d elementor-section-boxed elementor-section-gap-beside-yes elementor-section-height-default elementor-section-height-default elementor-section-column-vertical-align-stretch elementor-section elementor-top-section" data-id="7a9936d" data-element_type="section" id="section-shop-showcase">
  <div class="elementor-container elementor-column-gap-extended">
    <div class="elementor-row">
      <div class="elementor-element elementor-element-b4015e8 elementor-column elementor-col-100 elementor-top-column" data-id="b4015e8" data-element_type="column">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div class="elementor-widget-wrap">
            <section class="elementor-element elementor-element-7c8690b elementor-section-boxed elementor-section-gap-beside-yes elementor-section-height-default elementor-section-height-default elementor-section-column-vertical-align-stretch elementor-section elementor-inner-section" data-id="7c8690b" data-element_type="section">
              <div class="elementor-container elementor-column-gap-extended">
                <div class="elementor-row">
                  <div class="elementor-element elementor-element-405a83e elementor-column elementor-col-50 elementor-inner-column" data-id="405a83e" data-element_type="column">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-f830d2e elementor-widget__width-initial elementor-absolute elementor-hidden-tablet elementor-hidden-phone elementor-invisible elementor-widget elementor-widget-image" data-id="f830d2e" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;billeyFadeInUp&quot;,&quot;_position&quot;:&quot;absolute&quot;,&quot;motion_fx_motion_fx_mouse&quot;:&quot;yes&quot;,&quot;motion_fx_mouseTrack_effect&quot;:&quot;yes&quot;,&quot;motion_fx_mouseTrack_direction&quot;:&quot;negative&quot;,&quot;motion_fx_mouseTrack_speed&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:1,&quot;sizes&quot;:[]}}" data-widget_type="image.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-image">
                              <img width="651" height="647" src="/assets/shape-big-vacant-circle.png" class="attachment-full size-full" alt="" srcset="/assets/shape-big-vacant-circle.png 651w, /assets/shape-big-vacant-circle-300x298.png 300w, /assets/shape-big-vacant-circle-150x150.png 150w, /assets/shape-big-vacant-circle-600x596.png 600w, /assets/shape-big-vacant-circle-100x100.png 100w, /assets/shape-big-vacant-circle-96x96.png 96w" sizes="(max-width: 651px) 100vw, 651px" />
                            </div>
                          </div>
                        </div>
                        <div class="elementor-element elementor-element-0ed6a87 elementor-invisible elementor-widget elementor-widget-tm-image-layers" data-id="0ed6a87" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;billeyFadeInUp&quot;}" data-widget_type="tm-image-layers.default">
                          <div class="elementor-widget-container">
                            <div class="artboard">
                              <div class="layers-wrapper">
                                <div class="layer elementor-repeater-item-660d19b static-layer" style="z-index: 1">
                                  <div class="layer-content">
                                    <img  src="/assets/landing-woocommcer-showcase-image.jpg" alt="landing-woocommcer-showcase-image" />
                                  </div>
                                </div>
                                <div class="layer elementor-repeater-item-07ff643" style="z-index: 2">
                                  <div class="layer-content layer-loop loop-move-vertical">
                                    <img  src="/assets/landing-woocommcer-showcase-image-2.jpg" alt="landing-woocommcer-showcase-image-2" />							</div>
                                </div>
                                <div class="layer elementor-repeater-item-f4df701" style="z-index: 3">
                                  <div class="layer-content layer-loop loop-rotate">
                                    <img  src="/assets/billy-image-blue-circle-layer.png" alt="billy-image-blue-circle-layer" />							</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="elementor-element elementor-element-a6e9133 elementor-column elementor-col-50 elementor-inner-column" data-id="a6e9133" data-element_type="column">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-498bbb5 elementor-invisible elementor-widget elementor-widget-image" data-id="498bbb5" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;billeyFadeInUp&quot;}" data-widget_type="image.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-image">
                              <img width="151" height="86" src="/assets/landing-woocommerce-logo-2.png" class="attachment-full size-full" alt="" />											</div>
                          </div>
                        </div>
                        <div class="elementor-element elementor-element-041fd01 elementor-invisible elementor-widget elementor-widget-tm-heading" data-id="041fd01" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;billeyFadeInUp&quot;}" data-widget_type="tm-heading.default">
                          <div class="elementor-widget-container">
                            <div class="tm-modern-heading">

                              <div class="heading-primary-wrap">
                                <h2 class="heading-primary elementor-heading-title">Fit for any
                                  eCommerce
                                  Business Models</h2>
                              </div>


                              <div class="heading-description-wrap">
                                <div class="heading-description">
                                  Present your products, capture the public attention and boost your revenue with Billey
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section class="elementor-element elementor-element-094efe5 elementor-section-boxed elementor-section-gap-beside-yes elementor-section-height-default elementor-section-height-default elementor-section-column-vertical-align-stretch elementor-section elementor-inner-section" data-id="094efe5" data-element_type="section">
              <div class="elementor-container elementor-column-gap-extended">
                <div class="elementor-row">
                  <div class="elementor-element elementor-element-6dc4b7a elementor-column elementor-col-33 elementor-inner-column" data-id="6dc4b7a" data-element_type="column">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-af7fb69 elementor-invisible elementor-widget elementor-widget-tm-image-box" data-id="af7fb69" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;billeyFadeInUp&quot;}" data-widget_type="tm-image-box.default">
                          <div class="elementor-widget-container">
                            <div class="tm-image-box billey-box style-01 image-position-top content-alignment-">
                              <div class="content-wrap">

                              <div class="billey-image image">
                                <img  src="/assets/shop-compare.gif" alt="shop-compare" />
                              </div>

                              <div class="content">
                                <h3 class="title">Smart Product Comparing</h3>

                              </div>

                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="elementor-element elementor-element-2168b4b elementor-column elementor-col-33 elementor-inner-column" data-id="2168b4b" data-element_type="column">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-90c9d67 elementor-invisible elementor-widget elementor-widget-tm-image-box" data-id="90c9d67" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;billeyFadeInUp&quot;}" data-widget_type="tm-image-box.default">
                          <div class="elementor-widget-container">
                            <div class="tm-image-box billey-box style-01 image-position-top content-alignment-">		<div class="content-wrap">

                              <div class="billey-image image">
                                <img  src="/assets/shop-compare.gif" alt="shop-add-to-wishlist" />
                              </div>

                              <div class="content">
                                <h3 class="title">Smart Wishlist</h3>

                              </div>

                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="elementor-element elementor-element-480f163 elementor-column elementor-col-33 elementor-inner-column" data-id="480f163" data-element_type="column">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-4fc4e3a elementor-invisible elementor-widget elementor-widget-tm-image-box" data-id="4fc4e3a" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;billeyFadeInUp&quot;}" data-widget_type="tm-image-box.default">
                          <div class="elementor-widget-container">
                            <div class="tm-image-box billey-box style-01 image-position-top content-alignment-">		<div class="content-wrap">

                              <div class="billey-image image">
                                <img  src="/assets/shop-compare.gif" alt="shop-quick-view" />
                              </div>

                              <div class="content">
                                <h3 class="title">Quick view Product</h3>

                              </div>

                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>